<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper.xml  需要引入的约定 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanma.collect.mapper.CollectMapper">

    <resultMap type="collect" id="collectTerraceMap">
        <id property="collectId" column="collect_id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="userId" column="user_id"/>
        <result property="collectCreateTime" column="collect_create_time"/>
        <result property="collectUpdateTime" column="collect_update_time"/>
        <!-- association：配置的一对一属性 -->
        <!-- property：名字
             javaType：类型
         -->

        <association property="terrace" javaType="terrace">
            <id property="merchantId" column="merchant_id"></id>
            <result property="merchantName" column="merchant_name"/>
        </association>
    </resultMap>


    <!--查询所有 字段-->
    <sql id="queryList">
        collect_id,merchant_id,user_id,collect_create_time,collect_update_time,collect_yn
    </sql>
    <!--新增字段-->
    <sql id="saveData">
        merchant_id,user_id,collect_create_time,collect_yn
    </sql>

    <!--根据用户ID查询收藏记录-->
    <select id="queryUserIdCollect" resultMap="collectTerraceMap" >
        select c.*,m.* from t_collect c
        LEFT JOIN t_merchant m on c.merchant_id = m.merchant_id
        where c.user_id = #{userId} and c.collect_yn = 1
    </select>

    <!--新增收藏-->
    <insert id="saveCollect" parameterType="collect">
        insert into t_collect(<include refid="saveData"/>)
        VALUES(
          #{merchantId},
          #{userId},
          #{collectCreateTime},
          #{collectYn}
        )
    </insert>

    <!--根据ID删除-->
    <update id="delCollectId">
        update t_collect
        SET  collect_yn = #{yn},collect_update_time = #{collectUpdateTime}
        where collect_id = #{collectId}
    </update>
</mapper>