<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper.xml  需要引入的约定 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanma.user.mapper.UserMapper">

    <!--查询所有字段-->
    <sql id="queryList">
        user_id,merchant_id,user_phone,user_pass,user_name,user_img,user_sex,user_create_time,user_update_time,user_yn
    </sql>
    <!--新增字段-->
    <sql id="saveData">
        merchant_id,user_phone,user_pass,user_name,user_user_img,user_sex,user_create_time,user_update_time,user_yn
    </sql>
    <!--根据用户ID查询-->
    <select id="getUserId" resultType="user" parameterType="Long">
        select <include refid="queryList"/> from t_user
        where user_id = #{userId}
    </select>
    <!--根据ID修改-->
    <update id="updateUser">
        update t_user
        <set>
            <if test="userPass!=null and userPass!=''">
                user_pass = #{userPass},
            </if>
            <if test="userName!=null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userSex !=null">
                user_sex = #{userSex},
            </if>
            <if test="userImg != null and userImg != ''">
                user_img = #{userImg},
            </if>
            user_update_time = #{userUpdateTime}
        </set>
        where
          user_id = #{userId}
    </update>
    <!--查询所有用户-->
    <select id="queryUserList" resultType="user">
        select <include refid="queryList"/> from t_user
    </select>
    <!--根据用户ID查询商家ID是否存在-->
    <select id="getUserIdMerchantId" resultType="Long" parameterType="Long">
        select merchant_id from t_user
        where user_id = #{userId}
    </select>

    <!--登录-->
    <select id="loginUser" resultType="user" parameterType="user">
        select <include refid="queryList"/> FROM t_user
        where user_phone= #{userPhone}  and user_pass =  #{userPass}
    </select>

</mapper>